body {
    background-image: url("../img/starry_back.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.well {
    background-color: rgba(255,255,255,0.85);
}

.title {
    border-radius: 0px;
    padding-top:0px;
}

.overcanvas {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgba(255,0,0,0);
    z-index: 15;
}

.clock {
    position: absolute;
}

.credit {
    float: right;
    text-align: right;
}
.center {
    margin: auto;
    width: 800px;
}

.main {
    margin: auto;
    margin-top: 800px;
    max-width: 500px;
}

.icon {
    float: right;
}

.description {
    margin: auto;
    max-width: 700px;
}
